<!DOCTYPE html>
<html>
  <head>
    <title>HobbiesRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo"> Hobbies</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="sass.html">-</a></li>
        <li><a href="badges.html">-</a></li>
        <li><a href="collapsible.html"><%= link_to "Log Out", destroy_user_session_path, method: :delete %>
</a></li>
      </ul>
    </div>
  </nav>
    <div class="ui container">
    <%= yield %>
    </div>
  </body>
</html>
